<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="EtfCompositionUrl" value="https://www.ishares.com/us/products/239707/ishares-russell-1000-etf/1467271812596.ajax?fileType=csv&amp;fileName=IWB_holdings&amp;dataType=fund" />
    <add key="EtfCsvDataLineNumber" value="11" />
    <add key="IexStockStatsUrl" value="https://api.iextrading.com/1.0/stock/{0}/stats" />
    <add key="IexStockCompanyUrl" value="https://api.iextrading.com/1.0/stock/{0}/company" />

    <add key="SixSwissStockStatsUrl" value="    https://www.six-swiss-exchange.com/shares/info_analytics_en.html?id={0}CHF4" />
    

    <add key="ModelTopDividendsCount" value="200"/>
    <add key="ModelStockPerSectorLimit" value="5"/>
    <add key="ModelPortfolioStockCount" value="20"/>

  </appSettings>
</configuration>